body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: cadetblue;
    text-align: center;
    margin:0;
    color: darkcyan;
    font-size: 30px;
}

/* .form {
    font-size: 15px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form.hide {
    display: none;
} */

#board{
    width: 500px;
    height: 500px;
    /* background-color: darkcyan; */
    margin: auto;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
    
}

.cell{
    height: 165px;
    width: 165px;
    /* background-color: lightblue;  */
    cursor: pointer;
    font-family: monaco;
    font-size: 150px;
    line-height: 120px;
    text-align: center;
    border: 5px solid black;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}