body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: cadetblue;
    text-align: center;
    margin:0;
    color: darkcyan;
    font-size: 30px;
}

#board{
    width: 500px;
    height: 500px;
    background-color: darkcyan;

    margin: auto;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
    
}

.cell{
    height: 150px;
    width: 150px;
    background-color: lightblue; 
    cursor: pointer;
    font-family: monaco;
    font-size: 150px;
    line-height: 120px;
   text-align: center;
}

